<nav>
	<div class="nav-wrapper light-blue darken-2">
		<a href="#!main" class="left"><i class="material-icons">chevron_left</i></a>
		<a href="https://github.com/Decator/TinyTwitt">
			<img target="_blank" class="imageNavbar" border="0" alt="GitHub" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png" width="50" height="50">
		</a>
		<a href="#!main" class="brand-logo center"><i class="material-icons">thumb_up</i>TinyTwitt</a>
		<a ng-href="#!user/{{idCurrentUser}}" class="right rightNavbar">{{nameCurrentUser}}</a>
		<a ng-href="#!user/{{idCurrentUser}}" class="right">
			<img class="imageNavbar" ng-src="{{imageUrlCurrentUser}}" width="50" height="50">
		</a>
	</div>
</nav>

<p class="message">Hashtag : #{{hashtag}}</p>

<div class="row">
	<div class="col s8 offset-s2">
		<div ng-repeat="message in messages">
			<div class="card light-blue lighten-5">
				<div class="card-content">
					<div>
						<p class="card-title" style="text-align:left;">
							<a ng-href="#!user/{{message.owner}}">{{message.sender}}</a>
							<span style="float:right;">{{message.date}}</span>
						</p>
					</div>
					<div>
						<p>{{message.body}}</p>
					</div>
				</div>
				<div class="card-action right-align">
					<a ng-repeat="hashtag in message.hashtags" ng-href="#!hashtag/{{hashtag.substring(1)}}">{{hashtag}}</a>
				</div>
			</div>
		</div>
	</div>
</div>