<nav>
	<div class="nav-wrapper light-blue darken-2">
		<a href="#!logger" class="brand-logo center"><i class="material-icons">thumb_up</i>TinyTwitt</a>
	</div>
</nav>

<br /><br /><br /><br />
<br /><br />
<div id="my-signin2" class="googleButton"></div>

<br /><br /><br /><br />

<p class="center-align">
	<a target="_blank" href="https://github.com/Decator/TinyTwitt">
		<img border="0" alt="GitHub" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png" width="100" height="100">
	</a>
</p>