<nav>
	<div class="nav-wrapper light-blue darken-2">
		<a href="#!main" class="left"><i class="material-icons">chevron_left</i></a>
		<a target="_blank" href="https://github.com/Decator/TinyTwitt">
			<img class="imageNavbar" border="0" alt="GitHub" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png" width="50" height="50">
		</a>
		<a href="#!main" class="brand-logo center"><i class="material-icons">thumb_up</i>TinyTwitt</a>
		<a ng-href="#!user/{{idCurrentUser}}" class="right rightNavbar">{{nameCurrentUser}}</a>
		<a ng-href="#!user/{{idCurrentUser}}" class="right">
			<img class="imageNavbar" ng-src="{{imageUrlCurrentUser}}" width="50" height="50">
		</a>
	</div>
</nav>

<div class="row">
	<br/>
	<div class="col s10 offset-s1">
		<div ng-if="users.length != 0" ng-repeat="user in users" class="col s8 m4 center">
			<div class="card light-blue lighten-5">
				<div class="card-image">
					<img class="image" ng-src="{{user.profilePic}}">
				</div>
				<div class="card-content">
					<a ng-href="#!user/{{user.id}}" class="card-title">{{user.username}}</a>
					<p>Following : {{user.following.length != null ? user.following.length : 0}}</p>
					<p>Followers : {{user.followers.length != null ? user.followers.length : 0}}</p>
				</div>
				<div class="card-action">
					<a ng-if="!followButton(user)" class="btn blue" ng-click="followUser(user)">Follow</a>
					<a ng-if="followButton(user)" class="btn blue" ng-click="unfollowUser(user)">Unfollow</a>
				</div>
			</div>
		</div>
		<div ng-if="users.length == 0">
			<p class="message">Aucun utilisateur correspondant</p>
		</div>
		
	</div>
</div>
