body {
	font-family: 'Quicksand', sans-serif;
}

h1 {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 500;
}

.googleButton{
  width: 100%;
}

.googleButton > div{
  margin: 0 auto;
}

.rightNavbar {
	padding-right: 9px;
}

.message {
	text-align: center;
	font-size: 2rem;
}

.hashtagBold {
	font-weight: bold !important;
}

.pseudo {
	font-size: 14px !important;
	line-height: 20px !important;
	font-weight: bold !important;
}

.showFollow {
	font-size: 14px !important;
}

.cardUser {
	padding: 10px;
}

.cardUserButton {
	padding: 10px 10px;
	display: flex;
	justify-content: center;
}

.userButton {
	padding: 0px !important;
}

.image {
	width: 9em !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
}

.imageNavbar {
	margin: 5px !important;
}